# Database
POSTGRES_DB=bodycam
POSTGRES_USER=bodycam
POSTGRES_PASSWORD=replace-me-db-password

# Deploy registry
CONTAINER_REGISTRY=registry.digitalocean.com/fleet-ops

# LiveKit
LIVEKIT_DOMAIN=livekit-bodycam.idti.dev
LIVEKIT_SIGNAL_BIND_IP=127.0.0.1
LIVEKIT_BIND_IP=0.0.0.0
LIVEKIT_PORT=7880
LIVEKIT_RTC_TCP_PORT=7881
LIVEKIT_UDP_PORT_RANGE=50000-50100
LIVEKIT_USE_EXTERNAL_IP=true

# Storage
MINIO_ROOT_USER=replace-me-minio-user
MINIO_ROOT_PASSWORD=replace-me-minio-password
MINIO_DOMAIN=minio-bodycam.idti.dev
MINIO_CONSOLE_DOMAIN=minio-console-bodycam.idti.dev
MINIO_BIND_IP=127.0.0.1
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
TRANSCRIPT_IMAGE=alphacep/kaldi-en:latest

# TURN
TURN_REALM=turn-bodycam.idti.dev
TURN_HOST=turn-bodycam.idti.dev
TURN_USERNAME=replace-me-turn-user
TURN_PASSWORD=replace-me-turn-password
TURN_EXTERNAL_IP=203.0.113.10
TURN_BIND_IP=0.0.0.0
TURN_PORT=3478

# Database publish
DB_BIND_IP=127.0.0.1
DB_PORT_PUBLISH=5431

# Public domains
API_DOMAIN=api-bodycam.idti.dev
FRONTEND_DOMAIN=bodycam.idti.dev
TRAEFIK_CERT_RESOLVER=le

# Image tags
BACKEND_IMAGE_TAG=latest
FRONTEND_IMAGE_TAG=latest
